<div class="content">
  <h1 class="title">Advanced Statistics</h1>
  <p class="desc">
    Track how your links are performing across the web with <br />our advanced
    statistics dashboard.
  </p>

  <div class="cards">
    <div class="card">
      <div class="card-icon">
        <img
          src="../../assets/images/icon-brand-recognition.svg"
          alt=""
          role="presentation"
        />
      </div>
      <div class="card-title">Brand Recognition</div>
      <div class="card-body">
        Boost your brand recognition with each click. Generic links don’t mean a
        thing. Branded links help instil confidence in your content.
      </div>
    </div>
    <div class="card">
      <div class="card-icon">
        <img
          src="../../assets/images/icon-detailed-records.svg"
          alt=""
          role="presentation"
        />
      </div>
      <div class="card-title">Detailed Records</div>
      <div class="card-body">
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions.
      </div>
    </div>
    <div class="card">
      <div class="card-icon">
        <img
          src="../../assets/images/icon-fully-customizable.svg"
          alt=""
          role="presentation"
        />
      </div>
      <div class="card-title">Fully Customizable</div>
      <div class="card-body">
        Improve brand awareness and content discoverability through customizable
        links, supercharging audience engagement.
      </div>
    </div>
  </div>
</div>
