<div class="content">
  <h1 class="title">More than just shorter links</h1>
  <p class="desc">
    Build your brand’s recognition and get detailed insights on how your links
    are performing.
  </p>
  <button class="btn btn-primary">Get Started</button>
</div>

<div class="img-wrapper">
  <img
    src="../../assets/images/illustration-working.svg"
    alt=""
    role="presentation"
  />
</div>

<form class="shorten-url-form">
  <input type="url" id="form-input" placeholder="Shorten a link here&hellip;" />
  <button id="submit-btn" type="submit" class="btn btn-primary">
    Shorten It!
  </button>
</form>
